/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;

}
/* MAIN */
.main{
    height: 616px;
    /* height: calc(100vh - 68px); */
    width: 100vw;
    /* overflow: hidden; */
    background-image: url("./assets/main-puntitos.svg");
}
@media (min-width:1024px) {
    .main{
        height: 616px;
        padding:36px 80px 0 ;
    }
}


.main__container{
    margin: 0 auto;
    width: 100%;
    max-width: 318px ;
    padding-top: 94px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width:1024px) {
    .main__container{
        height: calc(100% - 145px);
        width: 100%;
        flex-direction: row;
        padding-top: 76px;
        max-width: 1440px;
    }
}


.main__title{
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}
@media (min-width:1024px) {
    .main__title{
        padding-top: 40px;
        max-width: 313px;
        text-align: initial;
    }
}


.main__container-img{
    width: 318px;
    height: 300px;
    margin-bottom: 70px;
}
@media (min-width:1024px) {
    .main__container-img{
        width: auto;
        height: auto;
    }
}


.main__img{
    width: 100%;
}
@media (min-width:1024px) {
    .main__img{
        width: 435px;
        height: 395px;
    }
}


/* MAIN HEADER */
/*  */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
    align-items: center;
}
@media (min-width:1024px) {
    .header{
        padding: 0;
        margin: 0 auto;
        max-width: 1440px;
        
    }
}

.header__logo{
    width: 54px;
    height: 50px;
}
@media (min-width:1024px) {
    .header__logo{
        width: 95px;
        height: 109px;
    }
}

.header__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 32px;
}
@media (min-width:1024px) {
    .header__menu{
        display: none;
    }
}

.header__menu-line{
    height: 6px;
    width: 100%;
    background-color: #141414;
}

.header__menu-desktop{
    display: none;
}

@media (min-width:1024px) {
    .header__menu-desktop{
        width: 428px;
        display: flex;
        justify-content: space-around;

    }
}

.header__menu-desktop-link{

}
@media (min-width:1024px) {
    .header__menu-desktop-link{
        text-decoration: none;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
    }
}





